avn_project_id = ""
avn_api_token = ""
a_cloud_name = "google-europe-north1"
b_cloud_name = "google-europe-west2"
c_cloud_name = "google-northamerica-northeast1"
d_cloud_name = "google-northamerica-northeast2"
use_cloud_vpc = "false"
